<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='description' content='{{siteDescription}}' />
        <meta name='viewport' content='device-width, initial-scale=1.0' />
        <meta name='generator' content='{{generator}}' />
        <link rel='stylesheet' href='{{subdir}}/css/simpleton.css' />
        <title>{{siteName}}</title>
    </head>
    <body>
        <div id='container'>
            <header>
                <div class='branding'>
                    <h1>{{siteName}}</h1>
                </div>
            </header>
            <main>
                <article>
                    <div class='content'>{{{content}}}</div>
                </article>
            </main>
            <footer>
                <p class='copyright-notice'>&copy;
                    {{year}}
                    <a href='{{subdir}}/'>{{siteName}}</a>. All rights reserved.</p>
            </footer>
        </div>
    </body>
</html>